@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg: rgb(241, 241, 241);
    --text: #111;

    --accent: #b60000;
    --accent-hover: #ff2a2a;

    --footer-bg: #0f0f0f;
    --footer-text: #eaeaea;

    --radius: 10px;
    --shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
    font-family: "Alan Sans", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
}

#gogym-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#gogym-profile-container {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex: wrap;
}

#gogym-profile-info,
#gogym-profile-membership {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding: 1rem;
    min-width: 500px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    #gogym-profile-container {
        flex-direction: column;
    }

    #gogym-profile-info,
    #gogym-profile-membership {
        min-height: 150px;
    }
}

#gogym-profile-info-details{
    margin-left: 0;
}

#gogym-profile-logout {
    margin-top: 5rem;
    width: 7%;
    min-width: 150px;
    height: 3.5rem;
    font-family: inherit;
    color: white;
    background-color: var(--accent);
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
}

#gogym-profile-logout:hover {
    background-color: var(--accent-hover);
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}

#gogym-profile-info h2,
#gogym-profile-membership h2,
#gogym-profile-membership p {
    text-align: center;
}

#gogym-profile-info-details li {
    margin-top: 0.5rem;
    font-size: clamp(0.9rem, 1.2dvw, 1rem);
}

#gogym-profile-adquire {
  color: var(--accent);
  text-decoration: underline;
  transition: color 0.25s ease-in-out;
}

#gogym-profile-adquire:hover {
  color: var(--accent-hover);
}

#gogym-profile-membership-image {
    max-width: 250px;
    max-height: 250px;
}